@model IEnumerable<ItemDto>

<div class="card border-0 mt-4">
	<div class="card-body p-4">
		<div>
			<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
				<thead>
					<tr>
						<th>
							ItemId
						</th>
						<th>
							Name
						</th>
						<th>
							Group
						</th>
						<th>
							Unit Of Measurement
						</th>
						<th>
							Quantity
						</th>
						<th>
							Price Without VAT (UAH)
						</th>
						<th>
							Status
						</th>
						<th>
							Storage Location
						</th>
						<th>
							Contact Person
						</th>
						<th>
							Order
						</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/itemHome.js"></script>
}